.main-container {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-container section {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-container .button {
  align-self: flex-end;
}

.form-container section input {
  margin-top: 10px;
}

.form-container .switch {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
}

.switch label {
  font-size: smaller;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  color: blue;
}

.switch label.disabled {
  color: grey;
}

.clock-container {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.clock .name {
  font-weight: bold;
  margin-bottom: 10px;
}

.clock .time {
  border: 1px;
  border-style: dashed;
  border-color: #bbb;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
  background: white;
}

.analogue-clock-container {
  background: radial-gradient(#bbb, #fff);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #bbb;
  background-color: aqua;
}

.analogue-clock-hand {
  box-sizing: border-box;
  left: 50%;
  position: absolute;
  transform-origin: 50% 100%;
  background: black;
}

.analogue-clock-hand.hour {
  width: 4px;
  height: 30%;
  top: 20%;
}

.analogue-clock-hand.minute {
  width: 2px;
  height: 40%;
  top: 10%;
}

.analogue-clock-hand.second {
  width: 1px;
  height: 50%;
  top: 0%;
}

